.img-hello {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35%;
  height: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.img-hello img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.c-badge--wrapper svg {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-badge--wrapper svg textPath {
  font-size: 50px;
}

.header .o-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu-toggle {
  top: 3.3rem;
  right: 5%;
}

.header-height {
  height: 9rem;
  width: 100%;
  position: relative;
}

.header {
  width: 80vw;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
  max-width: 500px;
}

.btn-group .btn-new {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 20px);
          flex: 0 0 calc(50% - 20px);
}

.btn-new {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  margin-bottom: 20px;
  border: 1px solid #c39473;
  border-radius: 50px;
}

.btn-new.__white {
  background-color: #fff;
  color: #7a7a84;
}

.btn-new.__gold {
  background-color: #c39473;
  color: #fff;
}

.btn-new.__black {
  background-color: #2c2c2c;
  color: #c39473;
}

.box-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-layout .o-layout_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-layout .nsd-service__main {
  height: auto;
}

#header {
  margin-bottom: 250px;
}

.parallax-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.parallax-container .fx-wrap {
  position: absolute;
  top: -8%;
}

@media screen and (max-width: 767.82px) {
  .parallax-container .fx-wrap {
    top: -4%;
  }
}

.parallax-container .fx-wrap h3 {
  white-space: nowrap;
  opacity: 0.1;
  font-size: 160px;
  font-weight: bold;
  font-family: "Blaak Regular PERSONAL USE";
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(45deg, #f8ceb6, #c39473, #a26e39);
}

@media screen and (max-width: 991.82px) {
  .parallax-container .fx-wrap h3 {
    font-size: 140px;
  }
}

@media screen and (max-width: 767.82px) {
  .parallax-container .fx-wrap h3 {
    font-size: 100px;
  }
}

.eco-section .fx-wrap {
  left: -10%;
}

.roadmap-section .fx-wrap {
  top: -5%;
  left: -10%;
}

.usecase-section {
  margin-bottom: 150px;
}

.usecase-section .fx-wrap {
  right: -10%;
}

@media screen and (max-width: 767.82px) {
  .usecase-section .fx-wrap {
    top: 3%;
  }
}

.usecase-section .c-banner-figure {
  position: relative;
}

.usecase-section .c-banner-figure .c-badge--wrapper.primary-position {
  top: 50%;
  bottom: unset;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767.98px) {
  .usecase-section .c-banner-figure .c-badge--wrapper.primary-position {
    left: 50%;
    right: unset;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.usecase-section .c-banner-figure .c-banner-main img {
  width: 100%;
}

.staking-section {
  margin-bottom: 150px;
}

.staking-section .fx-wrap {
  left: -10%;
  top: -2%;
}

@media screen and (max-width: 767.82px) {
  .staking-section .fx-wrap {
    top: 3%;
  }
}

.staking-section .c-banner-figure {
  position: relative;
}

.staking-section .c-banner-figure .c-badge--wrapper.primary-position {
  top: 50%;
  bottom: unset;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: unset;
  left: -9rem;
}

@media screen and (max-width: 767.98px) {
  .staking-section .c-banner-figure .c-badge--wrapper.primary-position {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.staking-section .c-banner-figure .c-banner-main img {
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .staking-section .-mobile-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767.98px) {
  .staking-section .o-layout_item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 767.98px) {
  .staking-section .o-layout_item:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.chart-section .fx-wrap {
  right: -10%;
}

.team-section .fx-wrap {
  right: -10%;
}

@media screen and (max-width: 767.82px) {
  .team-section .fx-wrap {
    top: -2%;
  }
}

.press-section .fx-wrap {
  left: -10%;
}

.partner-section .fx-wrap {
  top: -40%;
  right: -10%;
}

@media screen and (max-width: 767.82px) {
  .partner-section .fx-wrap {
    top: 0%;
  }
}

.contact-section {
  margin-bottom: 0;
}

.contact-section .fx-wrap {
  left: -10%;
}

body, html {
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
}

.contact-link img {
  width: 40px;
  margin-right: 15px;
  -webkit-filter: contrast(0.1);
          filter: contrast(0.1);
}

@font-face {
  font-family: 'Ikon-Crypto';
  src: url("../fonts/icon/Ikon-Crypto.ttf") format("truetype"), url("../fonts/icon/Ikon-Crypto.woff") format("woff"), url("../fonts/icon/Ikon-Crypto.svg#Ikon-Crypto") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ikon {
  font-family: 'Ikon-Crypto' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ikon-btc:before {
  content: "\e92b";
}

.ikon-monero:before {
  content: "\e92c";
}

.ikon-dash:before {
  content: "\e92d";
}

.ikon-eth:before {
  content: "\e92e";
}

.ikon-ltc:before {
  content: "\e92f";
}

.ikon-xrp:before {
  content: "\e930";
}

.ikon-currency:before {
  content: "\e928";
}

.ikon-lock:before {
  content: "\e929";
}

.ikon-question:before {
  content: "\e92a";
}

.ikon-cash-2:before {
  content: "\e923";
}

.ikon-cloud-org:before {
  content: "\e924";
}

.ikon-shield-5:before {
  content: "\e925";
}

.ikon-wallet-2:before {
  content: "\e926";
}

.ikon-wallet-org:before {
  content: "\e927";
}

.ikon-connect-alt:before {
  content: "\e918";
}

.ikon-data-server-alt:before {
  content: "\e919";
}

.ikon-document-3:before {
  content: "\e91a";
}

.ikon-paricle-3:before {
  content: "\e91b";
}

.ikon-paricle-4:before {
  content: "\e91c";
}

.ikon-shiled-3:before {
  content: "\e91d";
}

.ikon-shiled-4:before {
  content: "\e91e";
}

.ikon-user-chat:before {
  content: "\e91f";
}

.ikon-wallet-crypto:before {
  content: "\e920";
}

.ikon-wallet-digital:before {
  content: "\e921";
}

.ikon-wallet:before {
  content: "\e922";
}

.ikon-car:before {
  content: "\e914";
}

.ikon-clip-board:before {
  content: "\e915";
}

.ikon-user-bubble:before {
  content: "\e916";
}

.ikon-user-setting:before {
  content: "\e917";
}

.ikon-icon:before {
  content: "\e912";
}

.ikon-cash-1:before {
  content: "\e913";
}

.ikon-bulb:before {
  content: "\e90f";
}

.ikon-bulb-2:before {
  content: "\e90e";
}

.ikon-id-card:before {
  content: "\e901";
}

.ikon-globe:before {
  content: "\e90d";
}

.ikon-donught:before {
  content: "\e90c";
}

.ikon-document:before {
  content: "\e909";
}

.ikon-document-2:before {
  content: "\e910";
}

.ikon-cloud:before {
  content: "\e90a";
}

.ikon-cash:before {
  content: "\e90b";
}

.ikon-safety:before {
  content: "\e911";
}

.ikon-shiled:before {
  content: "\e900";
}

.ikon-shiled-alt:before {
  content: "\e905";
}

.ikon-paricle:before {
  content: "\e902";
}

.ikon-paricle-alt:before {
  content: "\e907";
}

.ikon-target:before {
  content: "\e903";
}

.ikon-connect:before {
  content: "\e904";
}

.ikon-user:before {
  content: "\e906";
}

.ikon-data-server:before {
  content: "\e908";
}

.content-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.content-list li i {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  margin-right: 10px;
  width: 50px;
  font-size: 2.75rem;
  background-image: linear-gradient(45deg, #f8ceb6, #c39473, #a26e39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-list li p {
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.title-wrapper.__2 {
  margin-bottom: 35px;
}

.thumb-img {
  position: relative;
  padding-bottom: 110%;
}

.thumb-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#particles-js, .bg-js, #jsi-particle-container, .bg-canvas, .bg-canvas-2 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.bg-canvas, .bg-canvas-2 {
  opacity: 0.7;
}

.chart-data-s2 {
  margin-bottom: 50px;
}

@media (max-width: 767.98px) {
  .chart-data-s2 {
    margin-top: 50px;
  }
}

.chart-data-s2 .o-layout_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chart-data-s2 .chart-data-item {
  width: 100%;
}

.chart-data-s2 li .chart-data-item {
  background: rgba(242, 242, 242, 0.9);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.chart-data-s2 li.active .chart-data-item {
  background: linear-gradient(45deg, #f8ceb6, #c39473, #a26e39);
}

.chart-data-s2 li.active > div > .chart-label {
  color: #fff;
}

.chart-data-s2 li.active .chart-sublabel {
  color: rgba(255, 255, 255, 0.6);
}

.chart-data-s2 li.active .chart-percent {
  color: #fff;
}

.token-info-item {
  margin-bottom: 20px;
}

.token-info-s2 {
  margin-bottom: 50px;
}

.img-ani {
  -webkit-clip-path: inset(0 0 0 100%);
          clip-path: inset(0 0 0 100%);
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.img-ani.is-inview {
  -webkit-clip-path: inset(0 0 0 0%);
          clip-path: inset(0 0 0 0%);
}

.loading-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 2000;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading-container svg {
  max-width: 400px;
  padding: 25px;
  opacity: 0;
  overflow: unset;
}

.loading-container svg .logo-path * {
  fill-opacity: 0;
  stroke: #a26e39;
  stroke-width: 5px;
}

.-is-darkmode .loading-container {
  background: #121212;
}
/*# sourceMappingURL=custom.css.map */